<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="e170998g.nyp.movierater">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_Main"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!--Main page-->
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--adding movie page,-->
        <activity
                android:name=".AddingMovieActivity"
                android:label="@string/title_Add"
                android:screenOrientation="portrait">
        </activity>

        <!--overview of movie page-->
        <activity
                android:name=".OverviewActivity"
                android:label="@string/title_Overview"
                android:screenOrientation="portrait">
        </activity>

        <!--Rating movie page-->
        <activity
                android:name=".UserRatingActivity"
                android:label="@string/title_Rating"
                android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>